<p id="notice"><%= notice %></p>

<p>
	<img src=<%= @personalized.estampado %> alt="" style="max-width: 250px">
</p>

<%= link_to 'Edit', edit_personalized_path(@personalized) %> |
<%= link_to 'Back', personalizeds_path %>
