<p id="notice"><%= notice %></p>

<p>
  <strong>Estampado:</strong>
  <%= @personalized.estampado %>
</p>

<%= link_to 'Edit', edit_personalized_path(@personalized) %> |
<%= link_to 'Back', personalizeds_path %>
