// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body{
  height: 100%;
}
.main-back_ground{
  background-image: url(https://lh3.googleusercontent.com/vDawVqx-7oPAJX1Jw1e1fc6qHL7-lFcnkecmurq0dMulo_EhC28HxhieIBJ8r3WcomqhEC8sX0-y5oGQ0f3bYRAQYJ1gG7c7CcGRHZ--apQeAIKHFsXtLr3YNcVSTI2ko97wUgCZ9l27CstPPxfXDEvejuaQn0rktILhiwiP3YSgEyXjKb00khv4PkdNDvsLK2yc6qtYKCVx-PIy4Fw6U-cw2R-E68uAFPqzzQ3OyX7PUoTG-YYE9fZDXYfszgdiu4POe2QTBPFFWI-OU1xGDe8b0Oe_Bwb5gGqolG8eOHCV2aqKqED3ZAZWmYXfNjGRrG40YSJg_afBcxEvMpUG1SYoY7FiVnlF2-0xrcgxuKpAa4zq2bB2vNm0QSJRHUxCutxJwytMFELYkw5t86IdtasId030FKBEkNgG7HlKp3Y-xhzxWjbOu1VjlXSAoaJUnEJfmT18ZprGCSdTjylKWBRR0WogwP7hI388-t7MPUnr41pnlsj_4LYXnFUwGIntwZGZbh-0bNVT_AbvnTjcd80MDT-8Xii0RjHP-VWpBkVJvO3_nV5ppl5djiB2k6eE=w1024-h614);
  background-size: cover;
  background-repeat: none;
  height: 100%;
}
 body{
 	background-color: #e9e9e9
 }